<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.platform.api.business.user.mapper.custom.dao.UserVOMapper">
    <resultMap id="BaseResultMap" type="com.magic.platform.api.business.user.mapper.custom.entity.UserVO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="userId"/>
        <id column="name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <!--<result column="password" jdbcType="VARCHAR" property="password"/>-->
        <result column="is_enabled" jdbcType="CHAR" property="isEnabled"/>
        <result column="is_deleted" jdbcType="CHAR" property="isDeleted"/>

        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

    </resultMap>

    <select id="selectEntityList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        u.id,
        u.name,
        u.nick_name,
        u.is_enabled,
        u.is_deleted,
        u.create_time,
        u.update_time
        from user u

        <where>1=1
            and u.is_deleted = '0'
            <if test="name != null and name != ''">
                and locate(#{name}, concat(ifnull(u.nick_name,''), ifnull(u.name,''))) > 0
            </if>
            <if test="isEnabled != null and isEnabled != ''">
                and u.is_enabled = #{isEnabled}
            </if>

            <if test="startTime != null and endTime != null">
                and u.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        order by u.update_time desc
    </select>

    <insert id="addUserRole" parameterType="java.util.List">
        insert into user_role
        (
            user_id,
            role_id
        )
        values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (
                #{userId},
                #{item}
            )
        </foreach>

    </insert>

</mapper>

